body{
    display:"flex";
    justify-content: center;
    align-content: center;
    background-color: black;
    background-image: url("https://source.unsplash.com/random/1400x900/?nature");
}
.kit{
    display:"flex";
    align-items: center;
    justify-content: center;
    background-color: #f0f8ffaa;
    padding: 50px;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;

}